[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group zuul-maintainers
	read = group Anonymous Users
[access "refs/heads/*"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group gerrit-verifiers
	submit = group Project Owners
	editTopicName = +force group Project Owners
	forgeAuthor = group Registered Users
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[receive]
	requireChangeId = true
[access "refs/meta/config"]
	push = group Project Owners
	push = group zuul-maintainers
