[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
	owner = group zuul-maintainers
	read = group Anonymous Users
[access "refs/heads/*"]
	create = group Project Owners
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -1..+1 group Registered Users
	label-Verified = -1..+1 group Project Owners
	label-Verified = -1..+1 group gerrit-verifiers
	submit = group Project Owners
	editTopicName = +force group Project Owners
	forgeAuthor = group Registered Users
[access "refs/for/refs/heads/*"]
	push = group Registered Users
	pushMerge = group Registered Users
[receive]
	requireChangeId = true
[access "refs/meta/config"]
	push = group Project Owners
	push = group zuul-maintainers
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	ignoreSelfApproval = false
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[submit-requirement "Code-Review"]
	description = Submit requirement for the 'Code-Review' label
	submittableIf = label:Code-Review=MAX -label:Code-Review=MIN
	canOverrideInChildProjects = true
